@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}  

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about__descr {
        width: 400px;
    }
    .skills__descr {
        grid-template-columns: auto auto;
        gap: 40px;
    }
    .skills__tools {
        grid-template-columns: 40px 140px;
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
    
        }
    }
}  

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about {
        &__descr {
            width: 350px;
        }
        &__wrapper {
            grid-template-columns: 300px 670px;
        }
    }
    .skills__descr {
        grid-template-columns: 300px;
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        line-height: 39px;
        &_fz48 {
            font-size: 30px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px / 1fr;
        }
        &__photo {
            grid-row: unset;
            img {
                object-fit: contain;
                margin-top: 0;
            }
        }
        &__contact {
            grid-template-columns: 40px 200px;
        }
        &__language {
            grid-template-columns: 40px 200px;
        }
        &__descr {
            margin-top: 40px;
        }

        
    }
    .skills__descr {
        grid-template-columns: 260px 250px;
    }
    .contacts__form {
        grid-template-columns: repeat(2, 250px);
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    .hamburger {
        right: 20px;

    }
    .menu {
        &__block {
            width: 270px;
            padding-left: 20px;
        }

    }
    .promo {
        
        &_btns {
            margin-top: 30px;
        }
    }

    .skills__descr {
        grid-template-columns: 1fr;
        gap: 5px;
        margin-top: 30px;

    }
    .about {
        &__wrapper {
            grid-template: 1fr / 1fr;
        }
        &__descr {
            margin-top: 20px;
            width: 300px;
        }
        &__contact {
            margin-top: 30px;
        }
        &__skills {
            margin-top: 35px;
        }
        &__photo {
            display: flex;
            justify-content: center;
            img {
                width: 200px;
            }
        }
    }
    .about__contact-info {
        font-size: 14px;
    }
    .about__title {
        font-size: 31px;
    }
    
    .portfolio {
        padding-top: 20px;
    }
    .contacts__social {
        display: flex;
        justify-content: center;
    }
    .contacts__text {
        display: flex;
        justify-content: center;
    }
    .title_fz36 {
        font-size: 31px;
    }
    .contacts__form {
        grid-template-rows: 45px 45px 190px;
        grid-template-columns: 1fr;
        
    }
    .contacts__textarea {
        grid-column: unset;
        width: 100%;
    }
    .contacts__btns {
        grid-column: unset;
    }
}