@media (max-width: 1200px) {

}

@media (max-width: 991px) {
    .promo {
        padding-left: 20px;
        padding-right: 20px;
    }
    .advantages {
        padding-left: 20px;
        padding-right: 20px;
    }
    .consultation {
        padding-left: 20px;
        padding-right: 20px;
    }
    .catalog {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}